.main_title {
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;

  &_list {
    flex: 60%;
  }

  &_info-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 40%;
    max-height: 400px;

    position: sticky;
    top: 20px;
  }

  &_btn-loader {
    display: block;
    min-width: calc(100% - 30px);
    max-height: 40px;
    margin: 0 auto 20px;
  }

  &_message {
    margin: 5px auto;
    font-style: italic;
  }

  &_spinner {
    margin: 0 auto;
  }
}

